<!--sidebar-menu-->

<div id="sidebar"><a  class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>
  <ul>
    <li> <a routerLink="accueil"><i class="icon icon-home"></i> <span>Accueil</span></a> </li>

    <li> <a routerLink="gestionvoyageur"><i class="icon icon-signal"></i> <span>Gestion Voyageurs</span></a> </li>

    <li> <a routerLink="gestionconducteur"><i class="icon icon-signal"></i> <span>Gestion Conducteurs</span></a> </li>
    <li> <a routerLink="gestionpublication"><i class="icon icon-signal"></i> <span>Gestion Publications</span></a> </li>
   <!-- <li> <a routerLink="boitereception"><i class="icon icon-inbox"></i> <span>Boite Réception</span></a> </li>-->
    <li><a (click)="logout()"><i type="submit"  class="icon icon-th" ></i> <span>Déconnexion</span></a></li>

  </ul>
</div>
<!--sidebar-menu-->
